.project-details-container-logo {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  margin-top: 10px;
  gap: 10px;
  border-bottom: 1px solid var(--primary-purple);

}

.projects-details-content {
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 50px;
  
}

.projects-details-content-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;
}

.details-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  border: 1px solid var(--primary-purple);
  border-radius: 10px;
  /* background: linear-gradient(
    135deg,
    rgba(120, 0, 255, 0.6),
    rgba(180, 0, 255, 0.3),
    rgba(255, 0, 150, 0.1),
    rgba(255, 255, 255, 0.1)
  ); */
  background-color: #111;

  background-size: 200% 200%;
  animation: gradientShift 5s ease infinite;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 20px rgba(150, 0, 255, 0.2);
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.details-title h1 {
  margin: 0 auto;
  font-size: 1.5rem;
  color: var(--primary-purple);
}

.details-title h3 {
  font-size: 1.1rem;
  font-weight: normal;
}

.wrap-tech-icons {
  display: flex;
  gap: 30px;
}

.wrap-tech-icons span svg {
  font-size: 25px;
}

.details-links {
  display: flex;
  text-decoration: none;
  padding: 10px;
  gap: 40px;
  z-index: 20000;
}

.details-links a {
  background-color: var(--primary-purple);
  padding: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20000;
}

.details-links a:hover {
  opacity: 0.8;
}

.details-deploy {
  padding: 7px;
  /* background-color: var(--background-dark); */
  border-radius: 5px;
}

.details-deploy h3 {
  margin-bottom: 10px;
  color: var(--primary-purple);
}

.details-deploy p {
  font-weight: 600;
}

.details-deploy-name {
  font-weight: normal;
}

/* img header swiper */
.details-img {
  flex: 1;
  padding: 10px;
  max-width: 600px;
  width: 100%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(150, 0, 255, 0.2);
  position: relative;
  overflow: visible;
}

/* --- Swiper dentro de detalhes --- */
.details-img .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.details-img .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
}

/* --- Forçar visibilidade das setas --- */
.details-img .swiper-button-next,
.details-img .swiper-button-prev {
  color: var(--primary-purple);
  z-index: 20;
  transition: color 0.3s ease;
  font-size: 50px;
}

.details-img .swiper-button-next:hover,
.details-img .swiper-button-prev:hover {
  color: #9d4edd;
}

/* Cor padrão das bolinhas */
.mySwiper .swiper-pagination-bullet {
  background: var(--primary-purple);
  opacity: 0.5;
  transition: all 0.3s ease;
}

/* Quando a bolinha está ativa */
.mySwiper .swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.4);
}

/* conteudo main */
.projects-details-content-main {
  background-color: #111;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.projects-details-content-main-title {
  margin: 0 auto;
}
.projects-details-content-main-title h1 {
  font-size: 2rem;
}

/* efeito bg */
.projects-details-content-header::before,
.projects-details-content-header::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  filter: blur(300px);
  opacity: 0.6;
  z-index: 0;
  pointer-events: none;
}

/* Um blob rosa */
.projects-details-content-header::before {
  background: var(--accent-pink);
  top: 50%;
  left: 50%;
}

@media (min-width: 768px) {
  .projects-details-content {
    padding-top: 130px;
  }
  .project-details-container-logo {
    flex-direction: row;
  }

  .projects-details-content-header {
    flex-direction: row;
  }
}
