.container-projects {
  position: relative;
  width: 100%;
  height: auto;
  padding: 80px 0;
  color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.projects-desc,
.projects-filter {
  margin: 30px auto;
}

.projects-desc p {
  line-height: 2.2;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.1rem;
}

.project-dot {
  color: var(--accent-pink);
  font-size: 2rem;
  line-height: 0;
  font-size: 1.5rem;
}

.projects-filter {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

/* Linha central */
.projects-line {
  position: absolute;
  left: 24px;
  top: 500px;
  width: 6px;
  height: 100%;
  background: #333;
  border-radius: 4px;
  margin-top: 10px;
}

/* Linha animada */
.projects-progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, #6a11cb, #2575fc);
  border-radius: 4px;
}

/* Container dos cards */
.projects-content {
  position: relative;
  padding-top: 100px;
}

/* efeito bg */
.container-projects::before,
.container-projects::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  filter: blur(300px);
  opacity: 0.6;
  z-index: 0;
}

/* Um blob rosa */
.container-projects::before {
  background: var(--accent-pink);
  top: 70%;
  left: 50%;
}

/* Layout desktop */
@media (min-width: 768px) {
  .projects-line {
    left: 50%;
    top: 350px;
    transform: translateX(-50%);
    margin-top: 100px;
  }

  .container-projects::before,
  .container-projects::after {
    filter: blur(150px);
  }

  .container-projects::before {
    background: var(--accent-pink);
    top: 50%;
    left: 50%;
  }
}

@media (min-width: 1350px) {
  .projects-line {
    margin-top: 10px;
  }
}
