.container-technologies {
  background-color: #111;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-purple);
  position: relative;
  z-index: 9999; /* bem alto */
}

.list-tech {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.list-tech li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80px;
  transition: all 0.2s ease;
}

.list-tech li:hover {
  scale: 1.2;
}

.tech-icon {
  color: var(--primary-purple);
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-icon svg {
  width: 1.8rem;
  height: 1.8rem;
}

.list-tech li span {
  font-size: 1rem;
  color: #cccbcb;
  text-align: center;
}
