.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  transition: 0.3s;
  border-radius: 30px;
}

.btn:hover {
  opacity: 0.8;
}
