.container-about {
  margin-top: 60px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}

.content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.about-img,
.about-text {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 10px;
}

.about-img {
  flex: 1;
}

.about-text {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.about-text-Highlight-pink {
  color: var(--accent-pink);
  font-weight: 600;
}

.about-text-Highlight-purple {
  color: var(--primary-purple);
  font-weight: 600;
}

.wrap-about-btn-resume {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-text p {
  line-height: 2.2;
  letter-spacing: 0.017em;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.1rem;
  color: #d1d1d1;
}

.about-dot {
  color: var(--accent-pink);
  font-size: 2rem;
  line-height: 0;
}

.wrap-cube-about {
  width: 100%;
  height: 300px;
  position: relative;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.wrap-cube-about canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.wrap-img-fallback-about {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 30px;
}

.wrap-img-fallback-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* efeito bg */
.container-about::before,
.container-about::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 350px;
  border-radius: 50%;
  filter: blur(200px);
  opacity: 0.6;
  z-index: 0;
}

/* Um blob rosa */
.container-about::before {
  background: var(--accent-pink);
  bottom: 0px;
  right: 0px;
}

/* responsividade */
@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }

  .wrap-img-fallback-about {
    margin-top: 0;
  }
}
