header {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  position: fixed;
  background-color: var(--background-dark);
  z-index: 999;
}

header .text-logo {
  font-size: 1.3rem;
}

header .name-logo {
  font-size: 1.5rem;
  color: var(--primary-purple);
  font-weight: 700;
}

header .symbol-logo {
  color: var(--accent-pink);
  font-size: 1.4rem;
}

.container-links-desktop ul {
  display: flex;
  gap: 20px;
  padding: 10px;
  font-size: 1.2rem;
}

.container-links-desktop li {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}
header .nav-link {
  color: #fff;
}

header li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  z-index: -1;
  border-radius: 5px;
}

header li:hover::before {
  animation: fill 0.3s forwards;
}

.container-links-desktop {
  display: none;
  gap: 16px;
}
.hamburger-btn {
  background-color: transparent;
  border: 0;
  padding: 6px;
  z-index: 9999;
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  max-width: 320px;
  height: 100vh;
  background: #111;
  color: #fff;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  transition: right 0.36s ease;
  z-index: 9998;
}
.mobile-menu.open {
  right: 0;
}

.mobile-menu ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 10px;
}

.mobile-menu li {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

/* link ativo */
.nav-link.active {
  font-weight: 600;
  position: relative;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--primary-purple);
  border-radius: 2px;
  transition: width 0.3s ease;
}

/* responsividade */
@media (min-width: 768px) {
  .container-links-desktop {
    display: flex;
  }
  .hamburger-btn,
  .mobile-menu {
    display: none;
  }
}

/* keyframes */
@keyframes fill {
  0% {
    height: 0%;
  }

  50% {
    height: 100%;
    width: 5px;
  }

  100% {
    width: 100%;
    height: 100%;
    background: var(--primary-purple);
  }
}
