/* variaveis */
:root {
  --background-dark: #0a001a;
  --primary-purple: #7f00ff;
  --accent-pink: #ff007f;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
}

body {
  background-color: var(--background-dark);
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Texto geral */
body,
p,
a,
li {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

/* titulos sections */
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}



.title h1 {
  font-size: 3rem;
}

.key-title {
  color: var(--primary-purple);
  font-size: 3rem;
}

/* Barra rolagem */
::-webkit-scrollbar {
  width: 15px; /* largura da barra vertical */
  height: 10px; /* altura da barra horizontal */
}

::-webkit-scrollbar-track {
  background: #111; /* fundo do trilho */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-purple);
  border-radius: 3px;
}

/* Quando passa o mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-pink);
}
