/* variaveis */
:root {
  --background-dark: #0a001a;
  --primary-purple: #7f00ff;
  --accent-pink: #ff007f;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
}

body {
  background-color: var(--background-dark);
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Texto geral */
body,
p,
a,
li {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

/* titulos sections */
.title {
  margin: 0 auto;
}

.title h1 {
  font-size: 1.5rem;
}

.key-title {
  color: var(--primary-purple);
  font-size: 1.5rem;
}
